<ul class="" 
    style="display:flex; flex-direction: columns; width:100%;justify-content: space-around;
            margin:0 20px;padding:10px">
    <li type="none" style="font-size: 18px; color:white">
        <a style="text-decoration: none; color:black" routerLink="home">Home</a> 
    </li>
    <li type="none">
        <a  style="text-decoration: none; color:black" routerLink="about">About</a> 
    </li>
    <li type="none">
        <a style="text-decoration: none; color:black" routerLink="movice">Movice</a> 
    </li>
    <li type="none">
        <a style="text-decoration: none; color:black" routerLink="netwok">Network</a> 
    </li>
    <li type="none"> 
        <a style="text-decoration: none; color:black" routerLink="tv">Tv</a> 
    </li>
</ul>